.table {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    color: white;
    font-family: 'Furore' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }
  &__image {
    border-radius: 10px;
    max-width: 380px;
  }
  &__list {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0 0 0;
    gap: 40px;
    max-width: 800px;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding:  0;
    &Item {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #F2F2F2;
    max-width: 365px;
    &Presentation {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
  }
  &__container {
    padding: 0 25px;
    margin-top: 80px;
    margin-bottom: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 579px;
  }
  &__buttons {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
  }
  &__button {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid white;
    background: transparent;
    color: white;
    height: 48px;
    width: 272px;
    border-radius: 5px;
    &_red {
      border: none;
      background-color: #780810;
    }
  }
}

@media screen and (max-width: 700px) {
  .table {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    &__title {
      max-width: 260px;
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      text-align: center;
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &Item {
        max-width: 180px;
      }
    }
    &__image {

    }
    &__buttons {
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}