.form {
  padding: 40px 0;
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;

  &__wrapper {
    padding: 84px 222px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1365px;
    width: 100%;
    height: 100%;
    background-image: url(../../../Images/orders.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__button {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    height: 48px;
    width: 174px;
    background-color: #780810;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px 40px 14px 40px;
  }

  &__container {
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &__comment {
    height: 201px;
    width: 374px;
    left: 394px;
    border-radius: 5px;
    padding: 12px 185px 12px 14px;
    box-sizing: border-box;
    border: 2px solid;
  }

  &__title {
    margin-bottom: 16px;
    font-family: Furore, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }

  &__inputs {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }
  &__confirm {
    color: black;
    text-align: center;
  }
  &__input {
    color: #0D0C0C;
    height: 41px;
    max-width: 374px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 185px 12px 14px;

  }
}
@media screen and (max-width: 1180px) {
.form {
  &__wrapper {
    box-sizing: border-box;
    max-width: 100%;
  }
}
}
@media screen and (max-width: 892px) {
  .form {
  &__confirm {
    color: black;
    text-align: center;
  }
    &__inputs {
      min-width: 280px;
      max-width: 280px;
    }
    &__input {
      max-width: 100%;
      width: 100%;
      padding: 12px;
    }
    &__comment {
      width: 280px;
      padding: 12px;

    }
    &__title {
      margin-top: 120px;
    }
    &__wrapper {
      background-size: cover;
      padding: 0;
    }
    &__container {
      flex-direction: column;
    }
    &__buttons {
      margin-top: 0;
      padding: 76px 0;
    }
  }
}