.steps {

  &__container {
    padding: 0 50px;
    gap: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    &_left  {
      flex-direction: row-reverse;
    }
  }
  &__img {
    max-width: 50%;
  }
  &__centerText {
    padding: 0 50px;

    margin: 100px auto;
    text-align: center;
    max-width: 727px;
  }
  &__containerText {
    max-width: 580px;
  }
  &__title {
    max-width: 497px;
    font-family: Furore, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: white;
    margin-bottom: 36px;
  }
  &__text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}

@media screen and (max-width: 1180px) {
  .steps {
    margin-top: 60px;
    &__img {
      max-width: 480px;
    }

    &__container {
      margin:  0 auto;
      gap: 30px;
      padding: 0 20px 60px 20px;
      max-width: 880px;
      &_left  {
      }
    }
    &__centerText {
    }
    &__containerText {
    }
    &__title {

    }
    &__text {

    }
  }
}

@media screen and (max-width: 880px) {
  .steps {

    &__img {
  width: 100%;
    }

    &__container {

      flex-direction: column;
      &_left  {
      }
    }
    &__centerText {

    }
    &__containerText {
      flex-direction: column;
      display: flex;
      justify-content: center;
    }
    &__title {
      margin: 0 auto 20px auto;
    }
    &__text {

    }
  }
}