.size {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  box-sizing: border-box;
  gap: 20px;
  &__container {
    max-width: 580px;
  }
 &__text {
   margin-bottom: 20px;
   max-width: 672px;
 }
  &__title {
    font-family: 'Furore', sans-serif;
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
  }
  &__image {
    border-radius: 10px;
  }
}
@media screen and (max-width: 880px) {
  .size {
    padding: 50px 20px;
    flex-direction: column;
    &__title {
      text-align: center;
      font-size: 24px;
      line-height: 28px;
    }
    &__image {
     max-width: 320px;
    }
    &__text {
      max-width: 477px;
    }
  }

}